/* Medium Layout: 1280px. */
@media only screen and (min-width: 1301px) and (max-width: 2400px) { 
    .container{
        width: 1300px;
    }
}
/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
.logo {
  width: 135px;
}
.mid-part ul li {
  font-size: 12px;
}
.dashboard-top-nav .col-md-6 > ul {
  padding: 0 0 0 5px;
}
.main-logo {
  width: 190px;
    margin: 30px 0;
}
.avater > ul {
  padding-left: 5px;
}
.date-time {
  padding: 0;
}
.order-area {
  padding: 30px;
}
.sm-box h2 {
  font-size: 22px;
  margin: 16px auto;
}
.sm-box ul li.color-org {
  margin: 0 0 0 5px;
}
.sm-box ul li sup {
  font-size: 14px;
}

.dashboard-top-nav .main-logo {
  width: 160px;
}

.drop-btn {
  width: auto;
}
/*dashboard*/    
.new-post-inner {
  width: 76%;
}
.button.large {
  font-size: 14px !important;
}
.left-part-btn {
  margin-left: -10px;
  margin-right: -10px;
}
.drop-btn > img {
  width: 20px;
}
/*Instagram*/
#schedule-calendar-day .post-list {
  margin: 0 -5px;
}
#schedule-calendar-day .ig-post {
  margin: 0 8px 30px !important;
}

/*scadual*/
.scheduled-post .single-box-a {
  width: 65%;
}
 /*analatics*/
.statistics-numeric {
  margin-right: 14px;
}
.check-out input {
  padding: 0 10px;
  width: 100%;
} 
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
.dashboard-top-nav .col-md-6 {
  text-align: center;
}
.priceing-table {
  padding: 0;
}
.mid-part ul li {
  font-size: 11px;
}
.check-out li {
  margin: 5px auto 0;
  width: 90%;
}
.bottom-part {
  margin: 30px auto;
}
.dashboard-top-nav .main-logo {
  width: 160px;
}
.dashboard-top-nav .col-md-6 ul li {
  margin: auto 10px;
}
 /**/   
.right-part-btn .radio {
  display: inline-block;
  margin-right: 10px;
}    
.right-part-btn {
  float: none;
}
.left-part-btn {
  margin-right: 15px;
  margin-top: 0;
  vertical-align: top;
}

#schedule-calendar-day .col.s12 {
  width: 70%;
}
#schedule-calendar-day .ig-post {
  margin-right: 21px !important;
  width: 43%;
}
/*dashboard*/
.skeleton {
  margin: 20px 0 20px!important;
}
.new-post-inner {
  width: 74%;
}    
.single-box-a {
  width: 50%;
}


/*instagram*/
#schedule-calendar-day .post-list {
  margin: 0 -5px;
}

/*schadual*/
.left-posts {
  text-align: left;
}
.schedule-area {
  margin-top: 15px;
}

/*analatics*/
.statistics-numeric {
  margin-right: 14px;
}
.check-out input {
  width: 100%;
}
}  

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
.left-side {
  display: block;
  height: auto;
  width: 100%;
}
.right-side {
  display: block;
  float: none;
  height: auto;
  width: 100%;
}
.table-cell {
  left: 0;
  padding: 50px 0;
  position: relative;
  top: 0;
  transform: translate(0px, 0px);
}
.top-nav, .right-side h2 {
  margin-top: 0;
}
.logo {
  display: block;
  width: auto;
}
.left-side h2 {
  margin-top: 45px;
}
.main-logo {
  display: block;
  width: auto;
}
.dashboard-top-nav .col-md-6 > ul {
  display: block;
  padding: 0;
  text-align: center;
}
.date-time {
  padding: 0;
}
.dashboard-top-nav .date-time > li {
  display: block !important;
  margin: 0 !important;
}
.avater > ul {
  padding: 0;
}
.dashboard-top-nav .col-md-6.text-right {
  text-align: center;
}
.sec-nav ul li {
  margin: 15px 5px;
}
.sec-nav ul {
  padding: 0;
  text-align: center;
}
.top-part::before {
  height: 150%;
  top: -65%;
  width: 110%;
}
.sec-nav ul li a {
  font-size: 14px;
}
.sec-nav ul li img {
  height: 24px;
}
.order-box-info {
  display: block;
  float: none;
  padding: 15px;
  width: 100%;
}
.order-inner .order-box-info:nth-child(1) {
  margin-left: 0;
}
.order-area .order-box-info:nth-child(2) {
  margin-left: 0;
  margin-right: 0;
}
.single-box-a {
  width: 100%;
}
.dashboard-top-nav .col-md-6 ul li a {
  font-size: 14px;
}
.dashboard-top-nav .col-md-6 ul li {
  margin: auto 10px;
}

.new-post-inner {
  width: auto;
}
.skeleton {
  margin: 30px 0 20px!important;;
}
.drop-btn {
  display: block!important;;
  width: 100%!important;;
}
.left-part-btn {
  display: block!important;;
  margin-top: 0;
  text-align: center!important;;
}
.btns {
  margin-left: 0 !important;
}
.post_menu ul li {
  float: none!important;;
  padding-right: 0;
  text-align: center!important;;
}
#schedule-calendar-day .ig-post {
  margin: 0 10px 30px !important;
}
    
/*dashboard*/
.radion_style {
  display: block;
  font-size: 16px;
  width: 100% !important;
}
.col-md-10 .col.s12 {
  width: 100%!important;
}
.new-post-inner {
  display: block;
  width: 100%;
}
.fluid {
  border-radius: 6px !important;
  display: block !important;
  font-size: 12px !important;
  margin-left: 0;
  width: 100% !important;
}
.new-post-inner {
  display: block;
  margin: 0;
  width: 100%;
}
.single-box-a {
  padding: 0;
}
/*schadual*/
.left-posts {
  text-align: left;
}
.select-box-b {
  float: none;
  margin: 15px auto;
  width: 100%;
}
.scheduled-post .single-box-a {
  width: 100%;
}
.sec-nav ul li {
  margin: 15px 1px;
}
.priceing-table {
  height: auto;
}
#accounts .box-list-item {
  width: 48%;
}
.statistics-numeric {
  margin-right: 5px;
}
.statistics-numeric .number {
  font-size: 30px !important;
}
.section-content {
  padding: 15px;
}
.statistics-numeric .label {
  font-size: 10px;
}
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 479px) { 
.left-side {
  display: block;
  height: auto;
  width: 100%;
}
.right-side {
  display: block;
  float: none;
  height: auto;
  width: 100%;
}
.table-cell {
  left: 0;
  padding: 50px 0;
  position: relative;
  top: 0;
  transform: translate(0px, 0px);
}
.top-nav, .right-side h2 {
  margin-top: 0;
}
.logo {
  display: block;
  width: auto;
}
.left-side h2 {
  margin-top: 45px;
}
.table-cell {
  width: auto;
}
.right-side ul {
  padding: 0;
}
.sign-in-area .ig-btn-white {
  width: 100%;
}
.main-logo {
  display: block;
  width: auto;
}
.dashboard-top-nav .col-md-6 > ul {
  display: block;
  padding: 0;
  text-align: center;
}
.date-time {
  padding: 0;
}
.dashboard-top-nav .date-time > li {
  display: block !important;
  margin: 0 !important;
}
.avater > ul {
  padding: 0;
}
.dashboard-top-nav .col-md-6.text-right {
  text-align: center;
}
.sec-nav ul li {
  margin: 15px 10px;
}
.sec-nav ul {
  padding: 0;
  text-align: center;
}
.top-part::before {
    height: 250px;
    top: -90px;
    width: 120%;
}
    
.order-box-info {
  display: block;
  float: none;
  padding: 15px;
  width: 100%;
}
.order-inner .order-box-info:nth-child(1) {
  margin-left: 0;
}
.order-area .order-box-info:nth-child(2) {
  margin-left: 0;
  margin-right: 0;
}

.single-box-a {
  width: 100%;
}
.dashboard-top-nav .col-md-6 ul li a {
  font-size: 14px;
}
.dashboard-top-nav .col-md-6 ul li {
  margin: auto 10px;
}
.new-post-inner {
  width: auto;
}
    
 #accounts .box-list-item {
  width: 100%;
}   

.skeleton {
  margin: 30px 0 20px!important;;
}
.drop-btn {
  display: block!important;;
  width: 100%!important;;
}
.left-part-btn {
  display: block;
  margin-top: 0;
  text-align: center;
}
.btns {
  margin-left: 0 !important;
}
.post_menu ul li {
  float: none!important;;
  padding-right: 0!important;!important;;
  text-align: center!important;;
}
#schedule-calendar-day .ig-post {
  margin: 0 0 30px !important;
}
.btns li {
  margin-left: 0!important;;
}
    
/*dashboard*/
.radion_style {
  display: block;
  font-size: 16px;
  width: 100% !important;
}
.col-md-10 .col.s12 {
  width: 100%!important;
}
.new-post-inner {
  display: block;
  width: 100%;
}
.fluid {
  border-radius: 6px !important;
  display: block !important;
  font-size: 12px !important;
  margin-left: 0;
  width: 100% !important;
}
.new-post-inner {
  display: block;
  margin: 0;
  width: 100%;
}
.single-box-a {
  padding: 0;
}
.post-list-item > div {
  border-radius: 8px;
  box-shadow: 2px 2px 6px 0 #ff5804;
}
/*schadual*/
.left-posts {
  text-align: left;
}
.select-box-b {
  float: none;
  margin: 15px auto;
  width: 100%;
}
.scheduled-post .single-box-a {
  width: 100%;
}
.sec-nav ul li {
  display: block;
  text-align: left;
}
/*plan*/
.priceing-table {
  height: auto;
}
.statistics-numeric {
  margin-right: 5px;
}
.statistics-numeric .number {
  font-size: 30px !important;
}
.statistics-numeric .label {
  font-size: 10px;
}
.section-content {
  padding: 15px;
}
} 