/*@media only screen and (max-width: 2400px) and (min-width: 1920px){*/
@media only screen and (min-width: 1920px){
    /*.box-login{*/
    /*min-height: 500px;*/
    /*min-height: 1040px;*/
    /*}*/

    #mk-footer{
        bottom: 0 !important;
        position: fixed !important;
    }

}

/*@media only screen and (max-width: 1919px) and (min-width: 1280px){*/
@media only screen and (min-width: 1280px){
    .box-login{
        min-height: 342px !important;
        /*min-height: 501px;*/
    }

    section.content{
        min-height: 342px !important;
    }
    /*#mk-footer{*/
    /*bottom: 0;*/
    /*position: fixed;*/
    /*}*/
}

@media only screen and (min-width: 1600px){
    /*.box-login{*/
    /*min-height: 342px;*/
    /*min-height: 501px;*/
    /*}*/
    #mk-footer{
        bottom: 0 !important;
        position: fixed !important;
    }
}

@media only screen and (min-width: 1200px){
    .box-login{
        /*min-height: 342px !important;*/
        min-height: 412px !important;
        /*min-height: 486px !important;*/
        /*min-height: 501px;*/
    }

    section.content{
        min-height: 378px !important;
    }

}

@media only screen and (min-width: 1367px){
    /*.box-login{*/
        /*min-height: 342px !important;*/
        /*min-height: 412px !important;*/
        /*min-height: 486px !important;*/
        /*min-height: 501px;*/
    /*}*/
    #mk-footer{
        bottom: 0 !important;
        position: fixed !important;
    }

}

/*@media only screen and (max-width: 768px){*/
    /*.box-login{*/
    /*min-height: 342px !important;*/
    /*min-height: 412px !important;*/
    /*min-height: 486px !important;*/
    /*min-height: 501px;*/
    /*}*/
    /*#mk-footer{*/
        /*bottom: 0 !important;*/
        /*position: fixed !important;*/
        /*text-align: center;*/
    /*}*/

    /*.termtext {*/
        /*text-align: center ;*/
    /*}*/

    /*.termcenter {*/
        /*text-align: center ;*/
    /*}*/

/*}*/
@media only screen and (max-width: 1025px) and (min-width: 600px){
    #mk-footer, #mk-footer p {
        text-align: center;
    }

    #mk-footer{
        bottom: 0 !important;
        position: fixed !important;
        text-align: center;
    }
}

