/* Post */
#post{}


// Post previous fail note
.post-prev-fail-note {
    margin: 0 34px 30px;

    max-width: 600px;

    font-size: 12px;
    line-height: 16px;


    .title {
        margin-bottom: 5px;

        color: $color-danger;
        font-size: 16px;
        line-height: 22px;
    }
}

// Post Types
.post-types {
    margin-bottom: 30px;
}

.post-types label {
    float: left;
    display: block;
    width: 33.33%;
}
.post-types input {display: none;}
.post-types input+div {
    position: relative;

    height: 42px;
    padding: 18px 34px;

    color: $color-mid;
    font-size: 14px;    
    line-height: 16px;

    border: 1px solid $section-border-color;
    border-right-width: 0px;
    background-color: $color-light;
    
    cursor: pointer;
    @include transition($transition);
    @include user-select(none);
    
    &:hover {
        color: $color-dark;
    }
}
.post-types label:last-child input+div {
    border-right-width: 1px;
}

.post-types input:disabled+div {
    color: $color-mid;
    background-color: transparent;
    border-style: dashed;
    opacity: .35;
    cursor: default;
}

.post-types input:checked+div {
    color: #fff;

    background-color: $color-primary;
    border-color: $color-primary;
}

.post-types .icon {
    margin-right: 15px;

    font-size: 34px;
    line-height: 1;
}

.post-types .type {
    display: inline-block;
    vertical-align: -1px;
}
.post-types .name {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    @include ellipsis;
}


/* Columns */
#filemanager { height: 541px; }
.controls { min-height: 531px; }
.post-preview { min-height: 612px; }

#post .ofm-file {
    max-width: none;
    width: 33.33%;
}


// Mobile uploader
.post-mobile-uploader {
    margin-bottom: 20px;
    display: none;

    .mobile-uploader-result {
        display: none;
        font-size: 12px;
        line-height: 17px;
        color: $color-mid;
        margin-top: 10px;
    }
}



// Form result details
.form-result-details{
    margin-top: 10px;
    padding-bottom: 15px;

    border-bottom: 1px dashed $field-border-color;

    overflow: hidden;
}

.form-result-details {
    a {
        position: relative;

        display: block;
        padding: 5px 10px 5px 35px;
        float: left;
        clear: left;

        @include ellipsis;
        text-decoration: none;
        color: $color-primary-hover;
        font-weight: 500;

        border-radius: 4px;

        &:hover {
            background-color: $color-light;
        }
    }

    .icon {
        top: 4px;
        left: 8px;
    }
}


// Caption
.post-caption{
    height: auto; 
    min-height: 132px;
    padding-right: 32px;
}
.emojionearea.input{
    padding: 0;
}

.post-caption-picker {
    position: absolute;
    top: 37px;
    right: 13px;
    z-index: 2;

    color: $color-mid;
}



// Mini preview (preview of selected files)
.mini-preview { 
    position: relative;

    margin-bottom: 15px; 
}

.mini-preview .items {
    min-height: 65px;
    max-height: 130px;
    overflow: hidden;
}

.mini-preview .item {
    position: relative;

    float: left;
    width: 18%;
    margin: 1%;

    transition: transform ease .2s;

    &.ui-draggable-dragging {
        z-index: 100;
        visibility: visible !important;
        border: 2px solid #fff;
        border-radius: 4px;

        background: #fff url(../img/round-loading.svg) center no-repeat;
        background-size: 24px auto;
    }

    &.ui-sortable-helper {
        margin: 0;
        
        border-radius: 50%;
        border: 2px solid #fff;
        overflow: hidden;
        
        @include transform(scale(0.7));
    }

    &.item--active:before,
    &.item--invalid:before,
    &.item--placeholder:before {
        position: absolute;
        left: -3px;
        top: -3px;

        width: 100%;
        height: 100%;
        padding: 1px;

        content: "";
        
        background-color: #fff;
        border: 2px solid $color-primary;
        border-radius: 5px;
    }
    &.item--invalid:before {
        border-color: $color-danger !important;
    }
    &.item--placeholder:before {
        top: -1px;
        left: -1px;
        border: 1px dashed $color-mid !important;

        @include transform(scale(0.94));
    }
    &.item--placeholder:after {
        position: relative;
        padding-top: 100%;

        display: block;
        content: "";
    }

    .img {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        
        background-position: center;
        background-size: cover;
    }

    video {
        position: absolute;
        top: 50%;
        left: 50%;

        @include transform(translate(-50%, -50%));
    }

    a {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 10;

        font-size: 17px;
        color: #fff;

        @include transition($transition);
        opacity: 0;
        visibility: hidden;
    }

    &:hover a {
        opacity: 1;
        visibility: visible;
    }
}
.mini-preview.droppable .item {
    visibility: hidden;
}

.mini-preview .item>div {
    position: relative;
    padding-top: 100%;

    border-radius: 3px;
    overflow: hidden;

    cursor: -webkit-grab;

    &:after {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        content: "";
        background-color: rgba($color-dark, 0);
        @include transition($transition);
    }
}
.mini-preview .item:hover>div:after,
.mini-preview .item--active>div:after {
    background-color: rgba($color-dark, 0.7);
}

.mini-preview .drophere {
    position: absolute;
    top: 0;
    left: 0;

    @include box-sizing(border-box);
    width: 100%;
    height: 100%;

    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: $section-border-color;
    text-align: center;

    border: 2px dashed $color-light;
    background-color: #fff;
    z-index: 10;

    opacity: 0;
    visibility: hidden;

    span {
        position: absolute;
        top: 50%;
        left: 0;

        width: 100%;
        margin-top: -10px;
    }
}
.mini-preview.droppable .drophere {
    opacity: 1;
    visibility: visible;
}


// Post preview
.post-preview {
    position: relative;

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 50;

        content: "";

        background:  {
            color: rgba(255,255,255,0.75);
            image: url(../img/round-loading.svg);
            position: center;
            repeat: no-repeat;
        };
        opacity: 0;
        visibility: hidden;

        @include transition($transition);
    }

    &.onprogress:after {
        opacity: 1;
        visibility: visible;
    }
}         

.preview-header {
    padding: 21px 20px 20px;
    border-bottom: 1px solid $field-border-color;
}
.preview-header img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.preview-account {
    padding: 20px 25px;
}  
.preview-account .img {
    float: left;
    height: 45px;
    width: 45px;
    margin-right: 10px;

    background-color: $color-light;
    border-radius: 50%;
}
.preview-account .lines {
    display: block;
    margin-top: 7px;
    overflow: hidden;
}

.line-placeholder {
    display: block;
    height: 10px;
    margin-bottom: 10px;

    background-color: $color-light;

    #{&}:last-child {
        margin-bottom: 0;
    }
}



.preview-media--timeline,
.preview-media--story,
.post-preview .story-placeholder,
.preview-media--album { display: none; }

.post-preview[data-type="timeline"] .preview-media--timeline { display: block; }
.post-preview[data-type="story"] .preview-media--story,
.post-preview[data-type="story"] .story-placeholder { display: block; }
.post-preview[data-type="album"] .preview-media--album { display: block; }


.preview-media--story {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;

    background: $color-dark url(../img/story-preview-bg.png) center no-repeat;
    overflow: hidden;
}
.preview-media--album {
    position: relative;
    padding-top: 100%;
    
    background-color: $color-light;
    overflow: hidden;
}


.preview-media--timeline .placeholder {
    padding-top: 100%;
    background-color: $color-light;

    background-size: cover;
    background-position: center;
}

.post-preview .story-placeholder {
    padding-top: 100%;
    background-color: $color-light;
}

.preview-media--timeline video {
    display: block;
    width: 100%;
    height: auto;
}

.preview-media--album .img,
.preview-media--story .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;
}
.preview-media--album video,
.preview-media--story video {
    position: absolute;
    top: 50%;
    left: 50%;

    width: auto;
    height: auto;

    @include transform(translate(-50%, -50%));
}




.preview-caption-wrapper {
    padding: 25px;
}
.post-preview[data-type="story"] .preview-caption {
    display: none;
}
.post-preview[data-type="story"] .preview-caption-placeholder { display: block; }

.preview-caption {
    display: none;
    min-height: 30px;

    font-size: 14px;
    line-height: 1.42857143; 
    word-wrap: break-word; 
    -webkit-line-break: after-white-space;

    img {
        display: inline-block; 
        margin: -2px 2px 2px;
        height: 20px; 
        width: 20px; 
        min-height: 20px;
        max-width: 100%;
        
        font-size: inherit;
        line-height: normal; 
        vertical-align: middle; 
    }

    a {
        color: $color-primary-hover;
    }
}
    
   
    
@media screen and (max-width: 992px) {
    .post-prev-fail-note {
        margin: 0 0 20px;

        .title {
            font-size: 12px;
            line-height: 17px;
        }
    }


    .post-types {
        margin-bottom: 20px;
    }

    .post-types input+div {
        padding: 7px 14px;
        height: 34px;

        font-size: 12px;
        line-height: 14px;
    }

    .post-types .icon {
        margin-right: 7px;
        font-size: 24px;
        line-height: 1;
    }

    .post-types .type {
        vertical-align: -3px;
    }

    .post-types .name {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 600px) {
    .post-types input+div {
        padding: 10px;
        height: 57px;
        
        text-align: center;
        font-size: 10px;
        line-height: 12px;
    }

    .post-types .icon {
        margin-right: 0px;
    }

    .post-types .type {
        display: block;
        margin-top: 5px;
    }

    .post-types .name {
        font-size: 12px;
        line-height: 16px;
    }

    .post-mobile-uploader {
        display: block;
    }

    .mini-preview .items {
        max-height: none;
    }
}

@media screen and (max-width: 425px) { 
    .post-types .icon {
        font-size: 20px;
        line-height: 24px;
    }
}

